<template>
  <div class="columns bottom is-mobile">
    <div
      class="column is-full-tablet is-one-third-desktop is-half-fullhd copyright white-shadow"
    >
      All right reserved to Alltitude&nbsp;&nbsp;
      <font-awesome-icon icon="copyright" />&nbsp;&nbsp;2019
    </div>
    <div
      class="column is-full-tablet is-two-thirds-desktop is-half-fullhd contact"
    >
      <div class="columns is-mobile">
        <div class="column is-full-tablet is-one-quarter-desktop white-shadow">
          <a href="">
            <font-awesome-icon icon="phone" />
            <span class="text">+41 21 213 00 00</span>
          </a>
        </div>
        <div class="column  is-full-tablet is-one-quarter-desktop white-shadow">
          <a href="tel:+41 21 213 00 01">
            <font-awesome-icon icon="fax" />
            <span class="text">+41 21 213 00 01</span>
          </a>
        </div>
        <div class="column  is-full-tablet is-one-quarter-desktop white-shadow">
          <a href="https://www.linkedin.com/company/alltitude-sa/">
            <font-awesome-icon icon="envelope" />
            <span class="text">info@alltitude.com</span>
          </a>
        </div>
        <div class="column  is-full-tablet is-one-quarter-desktop white-shadow">
          <a href="https://www.linkedin.com/company/alltitude-sa/">
            <font-awesome-icon :icon="['fab', 'linkedin']" />
            <span class="text">Linkedin</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
