<template>
  <div class="columns index is-multiple is-mobile">
    <div
      class="column is-full-tablet is-one-third-desktop has-text-justified intro"
    >
      <p>
        Swiss qualitative IS & IT services & resourcing company, alltitude
        provides competitive consulting and solutions to assist organizations in
        succeeding in their digital transformation...
      </p>
      <p>
        Founded in 2002, alltitude is a Swiss all-round IT consultancy, managing
        value added projects for industry-leading companies & organizations.
      </p>
      <p>
        alltitude provides qualitative IT services & resourcing and offers
        rewarding career opportunities.
      </p>
    </div>
    <div class="column is-full-tablet  is-one-third-desktop companies">
      <h2
        class="is-size-4 is-size-3-desktop has-text-weight-bold has-text-left"
      >
        Looking for Professionals to successfully run your IT projects ?
      </h2>
      <a
        class="button   is-secondary has-text-weight-bold is-pulled-left has-text-grey-dark"
        >Show me more ...</a
      >
    </div>
    <div class="column is-full-tablet is-one-third-desktop candidates">
      <h2
        class="is-size-4 is-size-3-desktop has-text-weight-bold has-text-right"
      >
        Looking for the next level to boost your Career ?
      </h2>
      <a
        class="button is-primary has-text-weight-bold  has-text-grey-dark is-pulled-right"
        >On board with us ...</a
      >
    </div>

    <!-- <a class="button is-rounded">Rounded</a>
        <a class="button is-primary is-rounded">Rounded</a>
        <a class="button is-link is-rounded">Rounded</a>
        <a class="button is-info is-rounded">Rounded</a> -->
    <!-- <a class="button is-success is-rounded">Rounded</a> -->
    <!-- <a class="button is-danger is-rounded">Rounded</a> -->
  </div>
</template>

<script>
export default {
  components: {}
}
</script>

<style lang="scss" scoped>
html {
  background-color: red !important;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  /* font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
